<div class="row">
  <div class="col-md-6">
    <% if @product.image.present? %>
      <%= image_tag(@product.image.medium.url, class: "thumbnail wow slideInLeft", data: { wow_delay: "0.1s" }) %>
    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2><%= @product.title %></h2>
    <div style="height: 100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div> 數量 ： <%= @product.quantity %> </div>
    <div class="product-price"> $ <%= @product.price %></div>
    <!-- <div>總瀏覽量： <%= @product.impressionist_count(:filter=>:session_hash) %></div> -->
    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity > 0 %>
      <% else %>
        已銷售一空，無法購買
      <% end %>

      <%= link_to("加入購物車", add_to_cart_product_path(@product), :method => :post, class: "btn btn-primary btn-lg btn-danger") %>
    </div>
  </div>
</div>

<div class="text-center" >
  <div style="background-color: #000;display: inline-block;color: #ff6666;padding: 5px;border-radius: 5px">
    特價下殺僅剩 <div id="getting-started"></div>
  </div>
</div>

<script type="text/javascript">
  $('#getting-started')
  .countdown("2018/01/01", function(event){
    $(this).text(
      event.strftime('%D days %H:%M:%S')
    );
  });
</script>
